/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  ul {
    list-style: none;
  }
  
  /* BASE STYLES */
  /* body {
    background-color: #e8f0f7;
    font-family: 'Inter', sans-serif;
    min-height: 5000px;
    padding-top: 60px;
  } */
  
  /* NORMAL STYLES */
  .headers {
    background-color: #ffffff;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99999999;
  }
  
  .header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 60px;
    max-width: 1200px;
    padding: 0 30px;
    margin: 0 auto;
  }
  
  /* .logo {
  
  } */
  
  .logo__img {
    height: 60px;
    display: block;
  }
  
  
  
  .nav__list {
    display: flex;
    column-gap: 40px;
  }
  
 
  
  .nav__link {
    color: hsla(221, 75%, 24%, 0.847);
    font-size: 15px;
    font-weight: 700;
    transition: all 0.4s;
    position: relative;
  }
  
  .nav__link:hover,
  .nav__link:focus {
    color: #e7eb07f3;
  }
  
  .nav__link::after {
    content: '';
    height: 2px;
    width: 100%;
    background-color: #e7eb07f3;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: all 0.2s;
    opacity: 0;
    pointer-events: none;
  }
  
  .nav__link:hover::after {
    opacity: 1;
  }
  
 
  
  /* MEDIA QUERIES */
  @media (max-width: 650px) {
    .header__content {
      flex-direction: column;
      align-items: center;
      padding: 25px 0;
      row-gap: 18px;
    }
  
    .nav__list {
      column-gap: 20px;
    }
  }